<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="image-preview box">
          <img class="img-preview" ng-src="{{url}}" err-src="http://google.com/favicon.ico" ng-show="url!==''">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="box">
          <input type="tel" class="input-sm form-control" placeholder="A new url" ng-model="input" ng-change="inputChanged()">
          <button ng-click="submitLink()" class="submit-btn form-group ntn-primary btn" type="submit">Submit</button>
          <p>{{message}}</p>
          <p class="errorMessage">{{errorMessage}}</p>
          <p><a href ng-click="closeMe()">Close Me</a></p>
      </div>
    </div>
  </div>
</div>

