.img-block {
  width: 200px;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px 5px 5px 5px;
  box-shadow: 2px 2px;
  margin: 5px 5px 5px 5px;
  background-color: rgba(255, 255, 255, 0.8);
}

.new-link {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 4em;
}

.img-pins {
  width: 150px
}

.text-red {
  color: orangered;
}

.text-red:hover {
  color: orangered;
  text-decoration: none;
}

.text-red:focus {
  color: orangered;
  text-decoration: none;
}

.text-red:active {
  color: orangered;
  text-decoration: none;
}

.p-inline {
  display: inline;
  margin-bottom: 0;
  margin-top: 5px;
}

.p-repeated {
  float: left;
  margin-left: 20px;
}

.p-hearts {
  float: right;
  margin-right: 20px;
}

.p-trash {
  margin-left: 50px;
}
