<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Your pins</h1>
      <h3>{{errorMessage}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div masonry>
        <div class="text-center text-red img-block masonry-brick" ng-repeat="link in links">
          <img ng-src="{{link.url}}" class="img-pins"><br>
          <p class="p-repeated text-left p-inline">
            <i class="text-red fa fa-repeat"></i>{{link.username.length}}
          </p>
          <a class="p-repeated text-red p-trash p-inline" ng-click="deleteLink(link._id)">
            <i class="text-red fa fa-trash-o"></i>
          </a>
          <p class="p-hearts text-red text-right p-inline">
            <i class="text-red fa fa-heart"></i>{{link.likes.length}}
          </p>
        </div>
        <div ng-show="loaded" class="new-link text-center img-block masonry-brick">
          <a ng-click="showModal()"><i class="cent fa fa-plus-circle"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
